body{
    font-family: 'Roboto', sans-serif;
}

/*--------------
     Header 
----------------*/

header{
    background-color: #f6f6f6;
    height: 4.375rem;
}

#ricerca{
    background-color: #e5e5e5;
}

.img_header_logo{
    width: 2.5rem;
    height: 2.5rem;
}

/*--------------
     Main 
----------------*/

main {
    height: calc(100vh - 4.375rem);
}


aside {
    background-color: #051e34;
    
}

.ms-main-top{
    background-color: #1b72e8;
}

.ms-main-bottom{
    background-color: white;
}

